*.html linguist-detectable=false
*.cpp linguist-detectable=false
*.c linguist-detectable=false
*.swift linguist-detectable=false
*.txt linguist-detectable=false
*.cmake linguist-detectable=false
*.cc linguist-detectable=false
*.h linguist-detectable=false
*.podspec linguist-detectable=false
*.m linguist-detectable=false
*.kt linguist-detectable=false